<main>
    <div class="about">
        <h3>About</h3>
        <h6>Hello, welcome to my Portfolio Website. <br>My name is SeonMi Cho, a student in Korea 
        who aims to be a UI/UX designer combining the beauty of design and coding.<br>
        I love learning new things, facing new cultures, and is always trying to break my own limits.<br>
        I always think of the user's experience at best. <br><br><br>
        </h6>
        
        <h4>My majors are : <h6><strong>Communication, Convergence Software</strong>, and <strong>Art&Technology.</strong></h6><br> </h4> 
        
        <h6>I am a tripple major because I understand the necessity of knowing the design and developing process, 
        to be a better UI/UX designer<br><br><br><br>
        </h6>
    </div>
   <h5>Here are the skills I am available of : <br><br></h5> 
   
   
  <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Communication</h5>
            <p class="card-text">I am able to fluently communicate in <strong>Korean</strong> and <strong>English. </strong>
            I also know several tools to handle <strong>data</strong></p>
            
            <img class="icon" src="/assets/word.png">
            <img class="icon" src="/assets/ppt.png">
            <img class="icon" src="/assets/rlanguage.jpg">
            <img class="icon" src="/assets/python.png">
           
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Developing</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            
            <img class="icon" src="/assets/html.png">
            <img class="icon" src="/assets/css.png">
            <img class="icon" src="/assets/javascript.png">
            <img class="icon" src="/assets/java.png">
            <img class="icon" src="/assets/androidstudio.png">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Design</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <img class="icon" src="/assets/photoshop.png">
            <img class="icon" src="/assets/illustrator.png">
            <img class="icon" src="/assets/indesign.png">
            <img class="icon" src="/assets/premiere.png">
            <img class="icon" src="/assets/bootstrap.png">
            
          </div>
        </div>
      </div>
</div>
   
   
</main>