<main>
  <div>프로젝트</div><hr>
  <div id="accordion">
    <div class="card_container cards row" id="card_container">
         <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
              <img class="card-img-top" src="/assets/1_0.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">디자인 작업물</h5><br>
                <p class="card-text">Photoshop, Illustrator, Indesign 활용 디자인 작업물</p><br>
                <button class="btn btn-link btn-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                 자세히보기
                </button>
              </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="/assets/smartpark.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">도시재생 뉴딜사업 스마트 아이디어 공모전</h5>
                    <p class="card-text">4차 산업 혁명 기술을 활용해 주거환경을 개선하는 ‘도시재생 뉴딜사업 스마트 아이디어 공모전’ 에서 최우수상 수상.</p>
                    <button class="btn btn-link btn-primary" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      자세히보기
                    </button>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
              <img class="card-img-top" src="/assets/3_0.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">비안나_비디오로 안심하고 만나자(어플리케이션)</h5>
                <p class="card-text">비디오를 통해 검증된 이성을 만날 수 있는 소개팅 어플리케이션 '비안나'를 제작하였음.</p>
              <button class="btn btn-link collapsed btn-primary" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                자세히보기
              </button>
              </div>
            </div>
        </div>
        
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="detailed">
           <img src="/assets/1_1.JPG">
           <img src="/assets/1_2.JPG">
          </div>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="detailed">
            <img src="/assets/2_1.JPG">
            <img src="/assets/2_2.JPG">
          </div>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="detailed">
            <img src="/assets/3_1.JPG">  
          </div>
        </div>
    </div>
        
      <div class="card_container cards row" id="card_container">  
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
              <img class="card-img-top" src="/assets/4_0.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">공동 가계부 사이트 <br>_Together Wallet</h5>
                <p class="card-text">여럿이서 함께 관리할 수 있는 공동 가계부 사이트 개발(개인 프로젝트)</p><br>
                <button class="btn btn-link collapsed btn-primary" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                  자세히보기
                </button>
                
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
              <img class="card-img-top" src="/assets/5_0.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">음료 추천 서비스_WeBe</h5><br>
                <p class="card-text">SK Weather Planet의 날씨 API를 활용한 날씨별 음료 추천 서비스(개인 프로젝트)</p>
                <button class="btn btn-link collapsed btn-primary" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                  자세히보기
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
              <img class="card-img-top" src="/assets/6_0.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">행사 장소 예약 플랫폼_모이자</h5><br>
                <p class="card-text">전시회, 공연, 스터디 등의 행사를 위한 장소 예약 플랫폼 UX 설계</p><br>
                <button class="btn btn-link collapsed btn-primary" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                  자세히보기
                </button>
              </div>
            </div>
          </div>
        
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="detailed">
           <img src="/assets/4_1.JPG">
          </div>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="detailed">
           <img src="/assets/5_1.JPG">
           <img src="/assets/5_2.JPG">
          </div>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="detailed">
           <img src="/assets/6_1.JPG">
           <img src="/assets/6_2.JPG">
           <img src="/assets/6_3.JPG">
          </div>
        </div>
        
      </div>
      
      <div class="card_container cards row" id="card_container">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
              <img class="card-img-top" src="/assets/7_0.JPG" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">영상 작업물</h5><br>
                <p class="card-text">Premiere 활용 영상 제작물</p><br>
                <button class="btn btn-link collapsed btn-primary" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                  자세히보기
                </button>
              </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
              <img class="card-img-top" src="/assets/8_0.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">빅데이터 DB 전문가 과정</h5><br>
                <p class="card-text">한국 생산성 본부 주최, 200시간의 DB 교육 수료</p><br>
                <button class="btn btn-link collapsed btn-primary" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                  자세히보기
                </button>
              </div>
            </div>
        </div>
      
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
          <div class="detailed">
             <div class="videoleft">
                <iframe src="https://www.youtube.com/embed/t689hqinGIU" style="border:2px solid black"></iframe><p>111초 영화제(은상)-국가정보원 주최</p>
             </div>
        
            <div class="videoright">
                <iframe src="https://www.youtube.com/embed/Q1YVb4O9fK4" style="border:2px solid black"></iframe><p>연극 홍보용 메이킹 필름<br></p>
            </div>
                 
            <div class="videoleft">
                <iframe src="https://www.youtube.com/embed/i4IsKZUBm8I" style="border:2px solid black"></iframe><p>미국 서부 여행 영상<br></p>
            </div>
        
            <div class="videoright">
                <iframe src="https://www.youtube.com/embed/F6Ybmdg3sa8" style="border:2px solid black"></iframe><p>Studio & Field Shooting Project(교환학생)</p>
            </div>

          </div>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
          <div class="detailed">
           <img src="/assets/8_1.JPG">
          </div>
        </div>
    </div>
  </div>

    <br><br><div>동아리</div><hr><br>
    <div id="accordion">
      <div class="card_container cards row" id="card_container">
          <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="card">
                <img class="card-img-top" src="/assets/dacapo_0.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">밴드 동아리_다카포</h5><br>
                  <p>활동 기간 : 2015.03~2016.12</p>
                  <p class="card-text">▶ 베이스 기타리스트이자 <strong>동아리 장</strong>으로 활동</p><br>
                 
                </div>
              </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="card">
                <img class="card-img-top" src="/assets/film_1.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">공연 영상 학회_공상</h5><br>
                  <p>활동 기간 : 2015.03~2016.12</p><br>
                  <p class="card-text">▶ 배우팀, 음향팀에서 활동하였으며, <strong>영상팀 총괄</strong></p><br>
                 
                </div>
              </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="card">
                <img class="card-img-top" src="/assets/likelion_1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">멋쟁이 사자처럼</h5><br>
                  <p>활동 기간 : 2018.03~</p><br>
                  <p class="card-text">▶ 코딩 동아리/대외활동</p><br>
                  
                </div>
              </div>
          </div>
     
     
     
      </div>
    </div>
    
   <br><br><div>봉사</div><hr><br>
    
</main>
